.weather-card{
  border: 2px solid black;
  width: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-img-container{
  width: 300px;
}
.card-img{
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}